.container {
    display: flex;
    justify-content: space-between;
}

#stream-options {
    display: none;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 10px;
    position: absolute;
    left: 400px;
    top: 500px;
}

.stream-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}


.chat {
    width: 304px;
    min-height: 90vh;
}

#chat-options {
    display: flex;
}
#stream-list {
    list-style: none;
}
