body {
    background-color: black;
}
.container {
    display: flex;
    justify-content: space-between;
}

#stream-options {
    display: none;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 10px;
    position: fixed;
    left: 40%;
    top: 40%;
    color: #b9a3e3;
    background-color: black;
}

.stream-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-height: 93%;
    gap: 3px;
}

.introduction {
    border: thin double #6441a5;
    color:#b9a3e3;
    position: absolute;
    left: 20%;
    top: 40%;
}

.stream {
    border: none;
}

.chat {
    width: 304px;
    min-height: 90vh;
}

#chat-options {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
}
#stream-list {
    list-style: none;
}

button, button:focus {
    border-color: #6441a5;
    border-radius: 10px;
    background-color: black;
    color: #b9a3e3;
}

button:focus, .focusedButton {
    background-color: #6441a5;
    color: white;
}
